html{
	background: url('../starkiller_bg.png')no-repeat;
	background-size:cover;
	font-family: 'Exo', sans-serif;
	font-weight:300;
	font-size: 1.5vw;
	line-height: 3vw;
	letter-spacing: .05rem;
	background-position: center center;
	min-height: 100vh;
	margin:0;
	padding:0;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
main{
	width:100%;
	min-height:100px;
	margin:0px;
	padding:3rem 0;
	background:rgba(0,0,0,.7);
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	color:#fff;
	overflow:auto;
	text-align:center;
}
#wrap{
	display:flex;
	flex-flow:row wrap;
	text-align:left;
	margin:0 auto;
	max-width:1200px;
}
#main-box{
	width:58%;
	margin:0 3.5% 0 4.5%;
	position:relative;
	z-index: 1;
}
#icon-box{
	float:left;
	width:12.46%;
	position:relative;
	margin: 2% 0;
 }
.character-img.story-mode{
	width:100%;
	height:auto;
	position:absolute;
	top:0;
	right:-15%;
	z-index:10;	
 }
#text-box{
	margin: 8% 12.5%;
    position: relative;
	z-index:20;	
 }
#action-list{
	list-style-type:none;
	margin-left:6.25%;
}
#action-list li:hover{
	text-shadow: 0 0 5px #dff0ed, 0 0 25px #dff0ed, 0 0 50px #dff0ed, 0 0 75px #00ffdd, 0 0 25px #00ffdd, 0 0 50px #00ffdd, 0 0 500px #00ffdd, 0 0 100px #00ffdd;
	cursor:pointer;
}
#status-box{
	width:33%;
	padding:0 4.5% 0 0;
}
#romance-box{
	position: relative;
	padding:.5rem;
}
.story-mode #romance-box{
	background: rgb(72,60,63); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(72,60,63,.8) 0%, rgba(83,71,73,.8) 12%, rgba(68,56,59,.8) 39%, rgba(44,40,40,.8) 51%, rgba(64,52,55,.8) 76%, rgba(23,21,21,.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(72,60,63,.8) 0%,rgba(83,71,73,.8) 12%,rgba(68,56,59,.8) 39%,rgba(44,40,40,.8) 51%,rgba(64,52,55,.8) 76%,rgba(23,21,21,.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(72,60,63,.8) 0%,rgba(83,71,73,.8) 12%,rgba(68,56,59,.8) 39%,rgba(44,40,40,.8) 51%,rgba(64,52,55,.8) 76%,rgba(23,21,21,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 3px ridge #000;
	border-radius:2rem;
	text-shadow: 1px 1px 1px rgba(0,0,0,.9);
}
.story-mode #main-box{
	background: rgb(60,68,72); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(60,68,72,.8) 0%, rgba(71,78,83,.8) 12%, rgba(56,64,68,.8) 39%, rgba(40,42,44,.8) 51%, rgba(52,60,64,.8) 76%, rgba(21,22,23,.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(60,68,72,.8) 0%,rgba(71,78,83,.8) 12%,rgba(56,64,68,.8) 39%,rgba(40,42,44,.8) 51%,rgba(52,60,64,.8) 76%,rgba(21,22,23,.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(60,68,72,.8) 0%,rgba(71,78,83,.8) 12%,rgba(56,64,68,.8) 39%,rgba(40,42,44,.8) 51%,rgba(52,60,64,.8) 76%,rgba(21,22,23,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: 3px ridge #000;
	border-radius:2rem;
	text-shadow: 1px 1px 1px rgba(0,0,0,.9);
}
.romance-img{
	position:absolute;
	top: -23%;
	left:0;
	width:33%;
	height:auto;
}
#romance-title,#title{
	font-family: 'Exo', sans-serif;
	font-weight:800;
	font-size:2rem;
}
.story-mode #title, .story-mode #romance-title{
	border-bottom: 3px solid #fff;
}
.story-mode #romance-title,.story-mode #romance-mood{
	margin-left: 30%;
	z-index: 10;
	position: relative;
}
#romance-title{
	font-size:2rem;
}
.choose-char{
	width: 33%;
	float: left;
	text-align: center;
}

h1{
	color: #fff;
	font-size:4rem;
	text-shadow: 0 0 5px #dff0ed, 0 0 25px #dff0ed, 0 0 50px #dff0ed, 0 0 75px #00ffdd, 0 0 25px #00ffdd, 0 0 50px #00ffdd, 0 0 500px #00ffdd, 0 0 100px #00ffdd;
	margin: 100px 0 50px 100px;
	font-family: 'Exo', sans-serif;
	font-weight:800;
	text-transform: uppercase;
}
img{
	border-radius:50%;
	border: 3px solid #111;
}

img:hover{
	border: 3px solid #fff;
	box-shadow: 0 0 5px #dff0ed, 0 0 25px #00ffdd;
}
img.active{
	border: 3px solid #ff3700;
	box-shadow: 0 0 10px #ff0000, 0 0 35px #ff0000;
	}
img.story-mode{
	box-shadow: 0px 0px 5px rgb(0, 255, 238), 0px 0px 15px rgb(0, 255, 238);
	border: 3px solid rgb(0, 255, 238);
}
button, .btn{
	font-family: 'Exo', sans-serif;
	font-weight:300;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  text-decoration: none;
  background:none;
  text-shadow: 0 0 5px #dff0ed, 0 0 25px #dff0ed, 0 0 50px #dff0ed, 0 0 75px #00ffdd, 0 0 25px #00ffdd, 0 0 50px #00ffdd, 0 0 500px #00ffdd, 0 0 100px #00ffdd;
  max-width:150px;
  margin-top:20px;
  text-align:center;
  }
button:hover, .btn:hover{
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #fff 2px;
  text-decoration: none;
  background:#fff;
  box-shadow: 0 0 5px #dff0ed, 0 0 25px #dff0ed, 0 0 50px #dff0ed, 0 0 5px #00ffdd, 0 0 5px #00ffdd, 0 0 50px #00ffdd, 0 0 500px #00ffdd, 0 0 100px #00ffdd;
}
button#repeat{
float:right;
margin:50px;
}
button#repeat::after{
content:"";
clear:both;
}
.off{
	display:none;
}

.right{
float:right;
}
#romance-bar-wrap{
	height: 1.5rem;
	width: 100%;
	margin: 1rem 0 0;
	display:flex;
	flex-flow: row-reverse wrap;
	position: relative;
	right: 2rem;
}
.romance-bar-innerwrap{
	width:calc( 50% - 2px - 1rem);
	position:relative;
}
.romance-bar-innerwrap:first-child{
margin-left:1rem;
}
.romance-bar-innerwrap:last-child{
margin-right:1rem;
}
.active-bar{
	border: 1px solid #333;
	background: #222;
}
.romance-bar-inner{
	background:#ff0000;
	height:100%;
	width:0;
}
.bar-label{
	position:absolute;
	top: -.3rem;
	font-weight:bold
}
.bar-label:first-child{
	left:-2rem;
}
.bar-label:last-child{
	right:-2rem;
}
@media all and (min-width:1200px){
	html{
		font-size: 16px;
		line-height: 36px;
	}
}